.footer {
    .footer__call-to-action {
        width: 450px;
    }

    .footer__column li {
        list-style: inside;
    }
}

.footer {
    .deco {
        width: 100%;
        height: 1px;
        border-top: 1px solid #FFF;
        padding-bottom: 25px;
        margin-top: 50px;
    }
}