.newsletter {
    position: relative;
    z-index: 10;

    .newsletter__content {
        width: 1305px;
        height: 370px;
        flex-shrink: 0;
        background: #222;
        position: absolute;
        bottom: -20%;
        left: 0;
        gap: 150px;

        @include media-breakpoint-down(lg) {
            position: relative;
            width: 100%;
            height: auto;
            padding: 50px 50px;
        }

        @include media-breakpoint-down(md) {
            padding: 50px 20px;
            gap: 20px;
        }


        .newsletter__title {
            width: 668px;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }

        .newsletter__contact {
            width: 250px;
            height: 250px;
            background-color: #E3B27D;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-down(lg) {
                width: 150px;
                height: 150px;
            }

            @include media-breakpoint-down(md) {
                width: 100px;
                height: 100px;
            }

            span {
                font-size: 16px;
                letter-spacing: 0.18em;
                line-height: 140%;

                @include media-breakpoint-down(lg) {
                    font-size: 14px;
                }

                @include media-breakpoint-down(md) {
                    font-size: 10px;
                }
            }
        }
    }
}