.about {
    .about__title-main {
        width: 800px;
    }

    .about__image-container {
        .about__shape1 {
            top: -65px;
            right: -90px;
            right: -90px;
            z-index: -1;
        }

        .about__shape2 {
            bottom: -20px;
            left: -50px;
        }

        .about__decoration {
            width: 500px;
            height: 200px;
            background-color: #333333;
            bottom: -100px;
            right: -250px;
        }
    }
}