.about {
    .img {
        .shape1 {
            top: -65px;
            right: -90px;
            right: -90px;
            z-index: -1;
        }

        .shape2 {
            bottom: -20px;
            left: -50px;
        }

        .deco {
            width: 500px;
            height: 200px;
            background-color: #333333;
            bottom: -100px;
            right: -250px;
        }
    }
}