.experience {
    .experience__sphere {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.20);
    }

    .experience__shape1 {
        top: -65px;
        right: -90px;
        right: -90px;
        z-index: -1;
    }

    .experience__shape2 {
        bottom: -100px;
        left: -50px;
    }
}