:root {
    --base-text-size: 0.875rem;
    --text-size-increment: 1.6;
    --base-text-line-height: 1.3125rem;

    --line-height-fixed-amount: 0.35rem;
    --line-height-relative-amount: 1.1em;
    --globalLineHeight: calc(var(--line-height-fixed-amount) + var(--line-height-relative-amount));

    --heading-font-family: var(--font-popins);
    --body-font-family: var(--font-jakarta-sans);

    --body-font-weight: 400;
    --heading-font-weight: 400;
}

// ---------------------------------------------------------------------------------------------------------------------
// Titles Hierarchy
// ---------------------------------------------------------------------------------------------------------------------

%title {
    --fontFamily: var(--heading-font-family);
    --fontFamilyStyle: initial;
    --fontFamilyWeight: var(--heading-font-weight);
    font-family: var(--fontFamily);
    font-style: var(--fontFamilyStyle);
    font-weight: var(--fontFamilyWeight);
    line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
    -webkit-font-smoothing: auto;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    @extend %title;
}

%title-h1 {
    font-size: 3.3625rem; // 55.4px
    line-height: 2rem;
    color: #888;
}

h1,
.h1 {
    @extend %title-h1;

    &:not(.keep-size) {
        @include media-breakpoint-down(lg) {
            font-size: 1.68rem;
            line-height: 1.56rem;
        }
    }

    &.richtext:has(.metafield-rich_text_field) {
        @include media-breakpoint-up(lg) {
            line-height: 3.3625rem;
        }
    }

    &:not(.keep-color) {
        color: #fff;
    }
}

%title-h2 {
    font-size: 2.625rem; // 42.73px
    line-height: 2.9375rem; // 47px
    color: #888;
}

h2,
.h2 {
    @extend %title-h2;

    &:not(.keep-size) {
        @include media-breakpoint-down(lg) {
            font-size: 1.10rem;
            line-height: 1.1rem;
        }
    }

    &:not(.keep-color) {
        color: #fff;
    }
}

%title-h3 {
    font-size: 1.70rem; // 27.34px
    line-height: 1.9375rem; // 31px
    color: #888;
}

h3,
.h3 {
    @extend %title-h3;

    &:not(.keep-color) {
        color: #fff;
    }
}

%title-h4 {
    font-size: 1.09375rem; // 17.5px
    line-height: 1.4875rem; // 19px
    color: #888;
}

h4,
.h4 {
    @extend %title-h4;

    &:not(.keep-size) {
        @include media-breakpoint-down(lg) {
            font-size: 0.875rem;
            line-height: 1rem;
        }
    }

    &:not(.keep-color) {
        color: #fff;
    }
}


h5,
.h5 {
    @extend %title-h5;

    &:not(.keep-color) {
        color: #fff;
    }
}

%title-h5 {
    font-size: 1rem; // 16px
    line-height: 1rem; // 16px
    color: #888;
}


p {
    color: #AAA;
    font-family: var(--font-jakarta-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}