.about {
    .about__title-main {
        width: 800px;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .about__image-container {
        .about__shape1 {
            top: -65px;
            right: -90px;
            z-index: -1;

            @include media-breakpoint-down(lg) {
                right: -30px;
                top: -35px;
                z-index: 1;
            }

            @include media-breakpoint-down(md) {
                width: 90px;
                right: -20px;
                top: -15px;
            }
        }

        .about__shape2 {
            bottom: -20px;
            left: -50px;

            @include media-breakpoint-down(md) {
                width: 70px;
                left: -20px;
            }
        }
    }
}