.hero {
    .hero__information {
        .hero__scroll {
            transform: rotate(-90deg);
            transform-origin: center;
            display: inline-block;
            position: absolute;
            bottom: -30px;
            left: 150px;

            .hero__scroll-container p {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                letter-spacing: 3.5px;
            }
        }
    }
}