.lastWorks {
    .portfolio__body {
        .portfolio__item {
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
            padding-bottom: 50px;
        }

        .portfolio__item-image {
            top: 0;
            right: 100px;
            rotate: 15deg;

            @include media-breakpoint-down(lg) {
                rotate: 0deg;
            }
        }
    }
}