/*
Important notice :
Some styles below come from base.css, the original base file of Dawn.
In such case, we delete the style definition in base.css and the component is restyled in common.scss or its imports.
*/

// ---------------------------------------------------------------------------------------------------------------------
// Core is a SCSS helpers and contains no CSS - meant to included in every styles files
// ---------------------------------------------------------------------------------------------------------------------
@import "./core/breakpoints";

// ---------------------------------------------------------------------------------------------------------------------
// Global style used in all files and templates
// ---------------------------------------------------------------------------------------------------------------------
@import "./settings/reset";
@import "./settings/typography";

// ---------------------------------------------------------------------------------------------------------------------
// Global sections used in all templates
// ---------------------------------------------------------------------------------------------------------------------
@import './sections/Hero';
@import './sections/About';
@import './sections/Footer';
@import './sections/Services';
@import './sections/LastWorks';
@import './sections/Newsletter';
@import './sections/Experience.scss';
@import './sections/Skills.scss';

// ---------------------------------------------------------------------------------------------------------------------
// Components used in all templates
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Common styles used in all templates
// ---------------------------------------------------------------------------------------------------------------------
@import './common/Footer';
@import './common/Line';

.CustomButton {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: -27px;
        top: -20px;
        width: 60px;
        height: 60px;
        background: #333333;
        border-radius: 50%;
        z-index: -1;
        transition: all 0.3s ease;
    }

    span {
        color: #FFF;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        /* 22.4px */
        letter-spacing: 2.88px;
    }
}

.home-bg {
    background-color: #181818;
    padding-top: 50px;
    padding-bottom: 10px;
}